{
  "swagger" : "2.0",
  "info" : {
    "description" : "Documentation for the Project Odeon backend",
    "version" : "v2",
    "title" : "Swagger documentation for the Project Odeon backend"
  },
  "host" : "jscpeterson.com",
  "basePath" : "/rest/",
  "schemes" : [ "https" ],
  "paths" : {
    "/film_locations" : {
      "get" : {
        "operationId" : "list",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/FilmLocation"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "post",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/FilmLocation"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FilmLocation"
            }
          }
        }
      },
      "patch" : {
        "operationId" : "patch",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/FilmLocation"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/film_locations/{filmLocationId}" : {
      "get" : {
        "operationId" : "get",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/FilmLocation"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/film_locations/{filmLocationId}/images" : {
      "get" : {
        "operationId" : "getImages",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Image"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "post",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Image"
          }
        }, {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Image"
            }
          }
        }
      }
    },
    "/film_locations/{filmLocationId}/images/" : {
      "patch" : {
        "operationId" : "patch",
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Image"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/film_locations/{filmLocationId}/images/{imageId}" : {
      "get" : {
        "operationId" : "getImage",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Image"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "deleteImage",
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "imageId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/film_locations/{filmLocationId}/user_comments" : {
      "get" : {
        "operationId" : "getUserComments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/UserComment"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "post",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserComment"
          }
        }, {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserComment"
            }
          }
        }
      },
      "patch" : {
        "operationId" : "patch",
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserComment"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/film_locations/{filmLocationId}/user_comments/{userCommentId}" : {
      "get" : {
        "operationId" : "getUserComment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "userCommentId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserComment"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "deleteUserComment",
        "parameters" : [ {
          "name" : "filmLocationId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "userCommentId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/images" : {
      "get" : {
        "operationId" : "list",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Image"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "post",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Image"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Image"
            }
          }
        }
      }
    },
    "/images/{imageId}" : {
      "get" : {
        "operationId" : "get",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "imageId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Image"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "imageId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/productions" : {
      "get" : {
        "operationId" : "list",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Production"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "post",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Production"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Production"
            }
          }
        }
      },
      "patch" : {
        "operationId" : "patch",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Production"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/productions/{productionId}" : {
      "get" : {
        "operationId" : "get",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productionId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Production"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "productionId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/user_comments" : {
      "get" : {
        "operationId" : "list",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/UserComment"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "post",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserComment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserComment"
            }
          }
        }
      }
    },
    "/user_comments/{userCommentId}" : {
      "delete" : {
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "userCommentId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "204" : {
            "description" : ""
          }
        }
      }
    },
    "/user_comments/{user_comments}" : {
      "get" : {
        "operationId" : "get",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "user_comments",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserComment"
            }
          }
        }
      }
    },
    "/users" : {
      "get" : {
        "operationId" : "list",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/GoogleUser"
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "post",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/GoogleUser"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GoogleUser"
            }
          }
        }
      },
      "patch" : {
        "operationId" : "patch",
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/GoogleUser"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/users/{userId}" : {
      "get" : {
        "operationId" : "get",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/GoogleUser"
            }
          }
        }
      },
      "delete" : {
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        } ],
        "responses" : {
          "204" : {
            "description" : ""
          }
        }
      }
    }
  },
  "definitions" : {
    "FilmLocation" : {
      "type" : "object",
      "properties" : {
        "userId" : {
          "type" : "string",
          "format" : "uuid"
        },
        "user" : {
          "$ref" : "#/definitions/GoogleUser"
        },
        "created" : {
          "type" : "string",
          "format" : "date-time"
        },
        "id" : {
          "type" : "string",
          "format" : "uuid"
        },
        "longCoordinate" : {
          "type" : "number",
          "format" : "double"
        },
        "latCoordinate" : {
          "type" : "number",
          "format" : "double"
        },
        "siteName" : {
          "type" : "string"
        },
        "imdbId" : {
          "type" : "string"
        },
        "productionId" : {
          "type" : "string"
        },
        "production" : {
          "$ref" : "#/definitions/Production"
        },
        "address" : {
          "type" : "string"
        },
        "shootDate" : {
          "type" : "integer",
          "format" : "int64"
        },
        "originalDetails" : {
          "type" : "string"
        },
        "href" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "GoogleUser" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "format" : "uuid"
        },
        "googleId" : {
          "type" : "string"
        },
        "googleName" : {
          "type" : "string"
        },
        "gmailAddress" : {
          "type" : "string"
        },
        "href" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "Image" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "format" : "uuid"
        },
        "created" : {
          "type" : "string",
          "format" : "date-time"
        },
        "filmLocation" : {
          "$ref" : "#/definitions/FilmLocation"
        },
        "description" : {
          "type" : "string"
        },
        "url" : {
          "type" : "string"
        },
        "userId" : {
          "type" : "string",
          "format" : "uuid"
        },
        "user" : {
          "$ref" : "#/definitions/GoogleUser"
        },
        "href" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "Production" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "format" : "uuid"
        },
        "imdbId" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "releaseYear" : {
          "type" : "string"
        },
        "plot" : {
          "type" : "string"
        },
        "href" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "UserComment" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "format" : "uuid"
        },
        "created" : {
          "type" : "string",
          "format" : "date-time"
        },
        "filmLocation" : {
          "$ref" : "#/definitions/FilmLocation"
        },
        "text" : {
          "type" : "string"
        },
        "userId" : {
          "type" : "string",
          "format" : "uuid"
        },
        "user" : {
          "$ref" : "#/definitions/GoogleUser"
        },
        "href" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    }
  }
}